body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1589b4;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.custom-header {
  margin: 0;
  font-size: 24px;
}

.navbar {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-left: auto;
}

.navbar li {
  display: inline;
  margin: 0;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar a:hover,
.navbar a.active {
  color: #000000;
}

.container.card-container {
  max-width: 600px;  /* Mengatur lebar maksimum kontainer kartu */
  margin: 20px auto; /* Tengahkan dan tambahkan margin atas/bawah */
}

.card {
  padding: 20px;
  max-width: 1200px;  /* Mengatur lebar maksimum dari card */
  margin: 20px auto; /* Mendorong card ke tengah */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.btn-submit {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #007bff;
}

.btn-submit:hover {
  background-color: #0056b3;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;  /* Adjusted for label-input pairing */
  grid-gap: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: #3babbf; /* warna latar belakang hijau */
  color: white; /* warna teks putih */
  font-weight: bold; /* font tebal */
}

.navbar-logo {
  height: 50px; /* Anda dapat mengubah sesuai kebutuhan */
  width: 50px; /* Pastikan lebarnya sama dengan tingginya untuk mendapatkan bentuk bulat sempurna */
  margin-right: 20px; /* Memberikan jarak sedikit ke header teks */
  border-radius: 50%; /* Membuat logo berbentuk bulat */
  object-fit: cover; /* Menjaga agar gambar tidak terdistorsi */
  overflow: hidden; /* Menyembunyikan bagian gambar yang mungkin keluar dari batas bulat */
}


